<div class="page-header">
  <h1>Quarter #<%= @quarter.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Term</dt>
  <dd><%= @quarter.term %></dd>

  <dt>Academic year</dt>
  <dd><%= @quarter.academic_year %></dd>

  <dt>Start date</dt>
  <dd><%= @quarter.start_date %></dd>

  <dt>End date</dt>
  <dd><%= @quarter.end_date %></dd>

</dl>
