<div class="page-header">
  <h1>Course Schedule #<%= @course_schedule.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Course</dt>
  <dd><%= @course_schedule.course_id %></dd>

  <dt>Quarter</dt>
  <dd><%= @course_schedule.quarter_id %></dd>

  <dt>Section</dt>
  <dd><%= @course_schedule.section_id %></dd>

  <dt>Instructor</dt>
  <dd><%= @course_schedule.instructor_id %></dd>

  <dt>Day of week</dt>
  <dd><%= @course_schedule.day_of_week %></dd>

  <dt>Time of day</dt>
  <dd><%= @course_schedule.time_of_day %></dd>

  <dt>Campus</dt>
  <dd><%= @course_schedule.campus %></dd>

  <dt>Location</dt>
  <dd><%= @course_schedule.location %></dd>

  <dt>First class date</dt>
  <dd><%= @course_schedule.first_class_date %></dd>

  <dt>Last class date</dt>
  <dd><%= @course_schedule.last_class_date %></dd>

</dl>
