<div class="page-header">
  <h1>Instructor #<%= @instructor.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @instructor.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @instructor.last_name %></dd>

  <dt>School userid</dt>
  <dd><%= @instructor.school_userid %></dd>

  <dt>School username</dt>
  <dd><%= @instructor.school_username %></dd>

  <dt>School email</dt>
  <dd><%= @instructor.school_email %></dd>

  <dt>Avatar url</dt>
  <dd><%= @instructor.avatar_url %></dd>

  <dt>School dept</dt>
  <dd><%= @instructor.school_dept %></dd>

  <dt>School bio url</dt>
  <dd><%= @instructor.school_bio_url %></dd>

</dl>
