<div class="page-header">
  <h1>Edit Class #<%= @class.id %></h1>
</div>

<% if @class.errors.any? %>
  <% @class.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<form action="/update_class/<%= @class.id %>" class="form-horizontal">
  <!-- Label and input for course_schedule_id -->
  <div class="form-group">
    <label for="course_schedule_id" class="col-sm-2 control-label">
      Course schedule
    </label>
    <div class="col-sm-10">
      <input type="text" id="course_schedule_id" name="course_schedule_id" placeholder="Course schedule" class="form-control" value="<%= @class.course_schedule_id %>">
    </div>
  </div>

  <!-- Label and input for class_datetime -->
  <div class="form-group">
    <label for="class_datetime" class="col-sm-2 control-label">
      Class datetime
    </label>
    <div class="col-sm-10">
      <input type="text" id="class_datetime" name="class_datetime" placeholder="Class datetime" class="form-control" value="<%= @class.class_datetime %>">
    </div>
  </div>

  <!-- Label and input for day_of_week -->
  <div class="form-group">
    <label for="day_of_week" class="col-sm-2 control-label">
      Day of week
    </label>
    <div class="col-sm-10">
      <input type="text" id="day_of_week" name="day_of_week" placeholder="Day of week" class="form-control" value="<%= @class.day_of_week %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Class" class="btn btn-primary">
    </div>
  </div>
</form>
