<div class="page-header">
  <h1>Courses</h1>
</div>

<p><a href="/courses/new" class="btn btn-primary">Add a New Course</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>School course</th>
      <th>Title</th>
      <th>Status</th>
      <th>Effective start quarter</th>
      <th>Effective end quarter</th>
      <th>School url</th>
      <th>Credits</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.school_course_id %></td>
        <td><%= course.title %></td>
        <td><%= course.status %></td>
        <td><%= course.effective_start_quarter_id %></td>
        <td><%= course.effective_end_quarter_id %></td>
        <td><%= course.school_url %></td>
        <td><%= course.credits %></td>
        <td>
          <a href="/courses/<%= course.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/courses/<%= course.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_course/<%= course.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

