<div class="page-header">
  <h1>Course #<%= @course.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>School course</dt>
  <dd><%= @course.school_course_id %></dd>

  <dt>Title</dt>
  <dd><%= @course.title %></dd>

  <dt>Status</dt>
  <dd><%= @course.status %></dd>

  <dt>Effective start quarter</dt>
  <dd><%= @course.effective_start_quarter_id %></dd>

  <dt>Effective end quarter</dt>
  <dd><%= @course.effective_end_quarter_id %></dd>

  <dt>School url</dt>
  <dd><%= @course.school_url %></dd>

  <dt>Credits</dt>
  <dd><%= @course.credits %></dd>

</dl>
