<div class="page-header">
  <h1>Instructor course schedules</h1>
</div>

<p><a href="/instructor_course_schedules/new" class="btn btn-primary">Add a New Instructor Course Schedule</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Course schedule</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @instructor_course_schedules.each do |instructor_course_schedule| %>
      <tr>
        <td><%= instructor_course_schedule.instructor_id %></td>
        <td><%= instructor_course_schedule.course_schedule_id %></td>
        <td>
          <a href="/instructor_course_schedules/<%= instructor_course_schedule.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/instructor_course_schedules/<%= instructor_course_schedule.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_instructor_course_schedule/<%= instructor_course_schedule.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

