<div class="page-header">
  <h1>Classes</h1>
</div>

<p><a href="/classes/new" class="btn btn-primary">Add a New Class</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Course schedule</th>
      <th>Class datetime</th>
      <th>Day of week</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>
      <tr>
        <td><%= klass.course_schedule_id %></td>
        <td><%= klass.class_datetime %></td>
        <td><%= klass.day_of_week %></td>
        <td>
          <a href="/classes/<%= klass.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/classes/<%= klass.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_class/<%= klass.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

